<div class="main-container">
  <h2 class="main-header">Work Examples</h2>
  <div class="items-container">
    <div class="item">
      <div class="item-image-container">
        <img class="item-image" src="http://placehold.it/1280x720">
        <span class="fa-stack fa-2x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-github fa-stack-1x fa-inverse"></i>
        </span>
        <span class="fa-stack fa-2x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-link fa-stack-1x fa-inverse"></i>
        </span>
      </div>
      <div class="item-content-container">
        <h3 class="item-header">Test Header</h3>
        <hr class="item-seperator">
        <p class="item-description">Test Header</p>
      </div>
    </div>
    <div class="item">
      <div class="item-image-container">
        <img class="item-image" src="http://placehold.it/1280x720">
        <span class="fa-stack fa-2x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-github fa-stack-1x fa-inverse"></i>
        </span>
        <span class="fa-stack fa-2x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-link fa-stack-1x fa-inverse"></i>
        </span>
      </div>
      <div class="item-content-container">
        <h3 class="item-header">Test Header</h3>
        <hr class="item-seperator">
        <p class="item-description">Test Header</p>
      </div>
    </div>
    <div class="item">
      <div class="item-image-container">
        <img class="item-image" src="http://placehold.it/1280x720">
        <span class="fa-stack fa-2x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-github fa-stack-1x fa-inverse"></i>
        </span>
        <span class="fa-stack fa-2x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-link fa-stack-1x fa-inverse"></i>
        </span>
      </div>
      <div class="item-content-container">
        <h3 class="item-header">Test Header</h3>
        <hr class="item-seperator">
        <p class="item-description">Test Header</p>
      </div>
    </div>
  </div>
</div>
