<div class="main-container">
  <div class="intro-container">
    <h1>Hello</h1>
    <p>and welcome to my portfolio. My name is Stephen Wright, an aspiring front-end developer and javascript enthusiast based in Bristol.</p>
    <p>Interesting things you'll find inside: <span class="work-samples">work samples</span>, <span class="code-lab">code lab</span> and <span class="css-workshop">css workshop.</span></p>
    <p>If you're hiring, feel free to <span class="contact-me">get in contact</span>.</p>
  </div>
</div>
